<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="style.css" rel="stylesheet">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <title>G&K Boutique</title>
</head>

<body>

  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-3">

        <form class="form-inline">
          <input class="form-control mr-sm-2 searchBarre" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>

      <div class="col-2"><img class="logo" src="images/logo.png" width="100px" height="100px"></div>


      <div class="col-3"> <img src="images/basket_icon_160414.png" width="15px" height="15px"> Panier</div>
    </div>
  </div>

  <hr class="index">

  <nav class="nav justify-content-around">
    <a class="nav-link active" href="#">Accueil</a>
    <a class="nav-link" href="#">Produits</a>
    <a class="nav-link" href="#">Profil</a>
    <a class="nav-link" href="#">Contact</a>
    <a class="nav-link" href="#">Adresse</a>
  </nav>


  <div class="container bg-red my-4">
    <div class="row d-flex justify-content-center">
      <p>  Articles phares :</p>
    </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-3">
          <img src="images/logo.png">
        </div>
        <div class="col-3">
          <img src="images/logo.png">
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <img src="images/logo.png">
        </div>
        <div class="col-3">
          <img src="images/logo.png">
        </div>
      </div>
    </div>
    <div class="col-6">
        <img src="images/logo.png">
    </div>
  </div>
</div>
  <div class="container my-4">
   <div class="row">
     <div class="col-4">
       <form>
  <input type="search" class="form-control" placeholder="Rechercher...">
</div>
<div class="col-4">
 <select class="form-control">
			<option value="">Toutes les catégories</option>
			<option value="men clothing">Vêtements pour Hommes</option>
			<option value="women clothing">Vêtements pour Femmes</option>
			<option value="jewelery">Bijoux</option>
			<option value="electronics">Hi-tech</option>
    </select></div>
    <div class="col-4">
 <select class="form-control">
			<option value="">Tous les prix</option>
			<option value="10">Moins de 10€</option>
			<option value="50">Entre de 10€ et 50€</option>
			<option value="51">Entre de 50€ et 100€</option>
			<option value="101">Supérieur 100€</option>
		</select></form></div>
</div>
</div>

  <div id="app">
    <div class="container">
      <div class="row">
        <p class="jumbotron">Login : <input type="text" v-model="user" /> | Vous êtes connecté en tant que {{ user }}
        </p>
      </div>

      <h1 class="display-4" v-if="commandes.length > 0">Produits commandés</h1>
      <ul>
        <li v-for="commande in commandes">{{ commande }}</li>
      </ul>

      <h1 v-bind:class="affichage">Produits disponibles :</h1>


      <div class="container">
        <div class="row">
          <div class="col-3" v-for="produit in produits">
            <div class="box">
              <img src="images/bonbon.jpg" width="100 px" height="100px">
              <button class="btn" v-on:click="commander(produit)">Commander !</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  
   
  <div id="api">
    {{ info }}
  </div>

  

  

</body>

<script src="vueJS.js"></script>

</html>